---
type Props = {
  image: string;
};

const { image } = Astro.props;
---

<div class="relative group max-w-md m-auto">
  <img class="relative rounded-lg w-full z-10" src={image} alt="painting 1" />
  <div
    class="absolute rounded-lg transition-all left-0 group-hover:translate-x-4 group-hover:translate-y-4 top-0 w-full h-full bg-black"
  >
  </div>
</div>
