---
import GalleryItem from "./GalleryItem.astro";
---

<div class="mx-12">
  <h3 class="my-24 text-center text-xl">Latest Artists Projects</h3>
  <div class="grid grid-cols-1 gap-12 xl:mx-48 md:grid-cols-2">
    <GalleryItem image="art1.jpg" />
    <GalleryItem image="/art2.jpg" />
    <GalleryItem image="/art3.jpg" />
    <GalleryItem image="/art4.jpg" />
  </div>
</div>
